<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132723925405-4r01skdc9j571sb6p839rap7gb61kvod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132723925405-4r01skdc9j571sb6p839rap7gb61kvod</string>
	<key>API_KEY</key>
	<string>AIzaSyD93bMUlJLHEawk2F58OHcBAVb0w6BRQww</string>
	<key>GCM_SENDER_ID</key>
	<string>132723925405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocPattrenSample</string>
	<key>PROJECT_ID</key>
	<string>bloc-photolib-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-photolib-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132723925405:ios:ddfb64ec8bd6ee79390f74</string>
</dict>
</plist>